<!DOCTYPE html>
<html>
  <head>
    <title>Profile Page</title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <p>Welcome to yo</p>
    <p><%= name %></p>
    <p><%= u_id %></p>
    <p><%= history %></p>
    <p><%= car %></p>
  </body>
</html>
