<!DOCTYPE html>
<html>
  <head>
    <title>Profile Page</title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <p>Welcome to yo</p>
    <p><%= userinfo %></p>
    <p><%= r_id %></p>
    <p><%= payment %></p>
    <p><%= p_id %></p>
  </body>
</html>
